$br: 5px;
.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
  width: 500px;
  border-radius: $br;
  background-color: #fff;
  margin-bottom: 20px;
}
.tabs__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px #dfe5ec solid;
  cursor: url('../../images/cursor.svg'), pointer;
  &:hover {
    background-color: #f1fcff;
  }
  &:first-of-type {
    border-radius: $br 0 0 $br;
    border-right: 0;
  }
  &:last-of-type {
    border-radius: 0 $br $br 0;
    border-left: 0;
  }
  &:active {
    background-color: #2196f3;
    color: #fff;
  }
}
