$color: #2196f3;
.loader {
  display: block;
  width: 48px;
  height: 48px;
  border: 5px solid #2196f3;
  margin: 40px auto;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
